<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Reacher</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     <!-- linked style.css -->
     <link rel="stylesheet" href="/stylesheets/style.css">
    
             

</head>

<body>
	<!-- NAVBAR -->
    <nav class="nav-extended grey darken-3">
        {{#if user}}
        <div class="nav-wrapper">
          <a href="/" class="brand-logo"><span class="logo purple-text text-lighten-2"></span>Teacher Reacher</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">Menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/teacher-dashboard">Teacher Dashboard</a></li>
            <li><a href="/newdoc">Create Notes</a></li>
            <li><a href="/schedule">Schedule Session</a></li>
            <li><a href="/gradebook">Gradebook</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </nav class="side-nav-color" >
      <ul class="sidenav" id="mobile-demo">
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/teacher-dashboard">Teacher Dashboard</a></li>
            <li><a href="/newdoc">Create Notes</a></li>
            <li><a href="/schedule">Schedule Session</a></li>
            <li><a href="/gradebook">Gradebook</a></li>
            <li><a href="/logout">Logout</a></li>
      </ul>
      {{else}}
        <div class="nav-wrapper">
          <a href="/" class="brand-logo"><span class="logo purple-text text-lighten-2"></span>Teacher Reacher</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">Menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/signup">Sign up</a></li>
            <li><a href="/login">Login</a></li>
          </ul>
        </div>
      </nav class="side-nav-color" >
      <ul class="sidenav" id="mobile-demo">
            <li><a href="/signup">Sign up</a></li>
            <li><a href="/login">Login</a></li>
      </ul>
      {{/if}}
	{{{ body }}}

	 <!-- FOOTER -->
 <footer class="page-footer grey ">
  <div class="container">
   
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text"></h5>
        
        <p class="grey-text text-darken-4"></p>
        <p> Teacher Reacher</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum fugit deserunt est sint laborum consectetur natus mollitia perspiciatis tenetur? Libero doloremque consequuntur cupiditate, rem ducimus accusamus quos possimus quod voluptatem!</p>
        <p>Phone Number: ###</p>
        
       
      </div>
      <div class="col l4 offset-l2 s12">
        <!-- <h5 class="grey-text">Links</h5> -->
        <ul>
          <li><a class=" white-text" href="#">##</a></li>
          <li><a class="white-text" href="#">##</a></li>
          <li><a class="white-text" href="#">##</a></li>
          <li><a class="white-text" href="#">##</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright grey darken-3 white-text">
    <div class="container center">
     <p> &copy; 2020 Copyright, All Rights Reserved.</p>
     <a href="#" class="grey-text text-darken-4 right"></a>Privicy Policy</a>
    </div>
  </div>
</footer> 

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>

</html>