<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>iClassroom</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  {{!-- icons --}}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- linked style.css -->
  <link rel="stylesheet" href="/stylesheets/style.css">



</head>

<body>
  <!-- NAVBAR -->
  {{!-- <nav class="nav-extended grey darken-3"> --}}
  {{#if user}}
  <nav class="navbar navbar-default red">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">iClassroom</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/teacher-dashboard">Teacher Dashboard</a></li>
        <li><a href="/newdoc">Create Notes</a></li>
        <li><a href="/schedule">Schedule Session</a></li>
        <li><a href="/gradebook">Gradebook</a></li>
        <li class="divider"></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/teacher-dashboard">Teacher Dashboard</a></li>
    <li><a href="/newdoc">Create Notes</a></li>
    <li><a href="/schedule">Schedule Session</a></li>
    <li><a href="/gradebook">Gradebook</a></li>
    <li class="divider"></li>
    <li><a href="/logout">Logout</a></li>
  </ul>

  {{else}}


  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">iClassroom</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/signup">Sign up</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/signup">Sign up</a></li>
    <li><a href="/login">Login</a></li>
  </ul>

  {{/if}}
  {{{ body }}}


  <!-- FOOTER -->
  <footer class="page-footer grey">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">iClassroom</h5>
          <p class="grey-text text-lighten-4">An online classroom experience where students take turns teaching and
            learning from other students.
          </p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Team Members</h5>
          <ul>
            <li><a class="white-text" href="https://github.com/karur0su">David White Wolf</a></li>
            <li><a class="white-text" href="https://github.com/dianapulatova">Diana Pulatova</a></li>
            <li><a class="white-text" href="https://github.com/GCaplan777">Gabriel Caplan</a></li>
            <li><a class="white-text" href="https://github.com/jamesrowe1">James Rowe</a></li>
            <li><a class="white-text" href="https://github.com/miike7687">Mike Haber</a></li>
            <li><a class="white-text" href="https://github.com/SeptumPrince">Nathan Pecchia</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Reach Us</h5>
          <ul>
            <li><a class="white-text hoverable" href="https://github.com/jamesrowe1/project2">Github Link</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright grey darken-2">
      <div class="container ">
        Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    $(document).ready(function () {
      $('.sidenav').sidenav();
    });
  </script>
</body>

</html>