<div class="container">
    <div class="row">
        <h1>DASHBOARD</h1>
        <div class="col-md-4" id class="documents">
            <button type="submit" class="btn btn-default">Add HW/DOC</button>
            <ul>
                <li>hw1 title</li>
                <li>doc1 title</li>
                <li>hw2 title</li>
            </ul>
        </div>

        <div class="col-md-4" id class="grades">
            {{!-- no button needed here but keeping for now to see style --}}
            <button type="submit" class="btn btn-default"></button>
            <ul>
                <li>grade, title for top Grade</li>
                <li>grade, title for top Grade</li>
                <li>grade, title for top Grade</li>
            </ul>
        </div>

        <div class="col-md-4" id class="scheduler">
            <button type="submit" class="btn btn-default">Add HW/DOC</button>
            <ul>
                {{!-- how best to display this? --}}
                <li>Jimmy and Kayla 12pm</li>
                <li>Jimmy and Kayla 12pm</li>
                <li>Jimmy and Kayla 12pm</li>
            </ul>
        </div>

    </div>

</div>