<h1>DASHBOARD</h1>

<div class="main">

    <div class="hw docs" <button type="button">Add to HW, DOCS!</button>

        <ul>
            <li>hw1 title</li>
            <li>doc1 title</li>
            <li>hw2 title</li>
        </ul>

    </div>

    <div class="top-grades" <button type="button"></button>

        <ul>
            <li>grade, title for top Grade</li>
            <li>grade, title for top Grade</li>
            <li>grade, title for top Grade</li>
        </ul>

    </div>
    <div class="schedule" <button type="button">Add to Scheduler!</button>

        <ul>
            <li>Coffee</li>
            <li>Tea</li>
            <li>Milk</li>
        </ul>

    </div>
</div>