      <!-- PARALLAX CONTAINER  -->
         <!--   parallax conatiner - img - quick intro-->
    <div class="parallax-container valign-wrapper">
        <div class="container">
          <div class="row">
            <div class="col 18 s12 white-text">
              <h4 class="thin-text left-alighn  white-text text-darken-3 valign ">Welcome to Teacher Reacher!</h4>
            </div>
          </div>
  
          <!-- contact button -->
          <div class="row">
            <div class="col 14">
              <a href="signup" class="waves-effect btn-large hoverable  grey darken-2 ">Sign up</a>
              <a href="login" class="waves-effect btn-large hoverable   grey darken-2 ">login</a>
            </div>
          </div>
        </div>
        <div class="parallax"><img src="https://images.unsplash.com/photo-1503676260728-1c00da094a0b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1009&q=80" style="transform: translate3d( 361.114px, 0px); opacity: 1;"></div>
      </div>