 <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Sign Up Form</h2>
        <form class="signup">
          <div class="form-group">
            <label for="inputFirstName">First Name</label>
            <input type="text" class="form-control" id="firstNameInput" placeholder="First Name">
          </div>
          <div class="form-group">
            <label for="inputLastName">Last Name</label>
            <input type="text" class="form-control" id="lastNameInput" placeholder="Last Name">
          </div>
          <div class="form-group">
            <label for="InputEmail1">Email address</label>
            <input type="email" class="form-control" id="emailInput" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="InputPassword1">Password</label>
            <input type="password" class="form-control" id="passwordInput" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="selectRole">Are you a student or a teacher?</label>
            <select name="role" class="form-control" id="typeInput" placeholder="Student">
              <option value="student">Student</option>
              <option value="teacher">Teacher</option>
            </select>
          </div>
          <div class="form-group" id="selectTeacherFormGroup">
            <label for="selectTeacher">Who is your teacher?</label>
            <select name="role" class="form-control" id="selectTeacher" placeholder="Student">
              {{!-- <option value="student">Student</option>
              <option value="teacher">Teacher</option> --}}
            </select>
          </div>
          <div style="display: none" id="alert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> <span class="msg"></span>
          </div>
          <button type="submit" class="btn btn-default">Sign Up</button>
        </form>
        <br />
        <p>Or log in <a href="/login">here</a></p>
      </div>
    </div>
  </div>
  <script src="/js/signup.js"></script>