form.signup,
form.login {
  margin-top: 50px;
}

/* css */
body {
  min-height: 200vh;
  /* background-color: #e8f5e9; */
  /* background-color:#f9fbe7; */
  /* background-color:#fff8e1; */
 
}

/* add styling to logo */
.logo{
  font-weight: 100;
  padding-left: 10px;

}

.thin-text {
  font-weight: 300px;
  /* for the shadow on short intro */
  /* https://www.december.com/html/spec/colorrgbadec.html */
  background: rgba(0, 0, 0, .4);
  /* background: rgba(0, 0, 255, 0.2); */
  padding: 40px;
  border-radius: 10px;
}

.section-header{
  font-weight: 300;

}

.cta {
  font-weight: 300;
  text-shadow: 1px 1px black;
}

.contact{
  padding-top: 30px;
  background: rgba(0, 0, 255, 0.1);
  

}

.footer{
  width: 100%;
  
}

#img{
  height: 200px;
}

.side-nav-color {
  background-color:#ede7f6;
}
